/* screen - u4367u4450u4535u4369u4454u4363u4469u4523 */

.u4367u4450u4535u4369u4454u4363u4469u4523 {
  background-color: #fffffd;
  min-height: 5722px;
  min-width: 1440px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-177 {
  background-color: var(--white);
  height: 690px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 75px;
  width: 1440px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .image-56 {
  aspect-ratio: 1.78;
  height: 810px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: -120px;
  width: 1440px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-178 {
  background-color: #00000033;
  display: flex;
  height: 690px;
  justify-content: center;
  left: calc(50.00% - 720px);
  position: absolute;
  top: calc(50.00% - 345px);
  width: 1440px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-374 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 33px;
  margin-top: 45px;
  position: relative;
  width: 835.5px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-156 {
  height: 33px;
  position: relative;
  width: 568.5px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-54 {
  align-items: center;
  bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  left: calc(50.00% - 186px);
  position: absolute;
  width: 372px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .sauce-salon-26ss {
  line-height: 27px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .span0 {
  letter-spacing: -0.10px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .span1 {
  color: var(--white);
  font-family: var(--font-family-baskervville);
  font-weight: 400;
  line-height: 24px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .sauce-salon-1 {
  left: calc(50.00% - 232px);
  letter-spacing: -0.40px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 825px;
  width: 465px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .span {
  letter-spacing: -0.06px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-429 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: 135px;
  position: absolute;
  top: 1253px;
  width: 1170px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-205 {
  align-self: stretch;
  letter-spacing: -0.55px;
  line-height: 33px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-428 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 48px;
  position: relative;
  width: 100%;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-2 {
  align-self: stretch;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-427 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 96px;
  position: relative;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-224 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 24px;
  position: relative;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-206 {
  color: #999999;
  font-family: var(--font-family-pretendard_variable-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: -0.45px;
  line-height: 27px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-223 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4.5px;
  position: relative;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-207 {
  letter-spacing: -0.38px;
  line-height: 22.5px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-208 {
  color: var(--licorice);
  font-family: var(--font-family-pretendard_variable-regular);
  font-size: var(--font-size-l);
  font-weight: 400;
  letter-spacing: -0.45px;
  line-height: 27px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-426 {
  background-image: url(../img/line-11.svg);
  background-size: 100% 100%;
  height: 1px;
  position: relative;
  width: 840px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .line-12 {
  height: 2px;
  left: 0;
  position: absolute;
  top: -2px;
  width: 105px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-225 {
  background-image: url(../img/frame-225.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 638px;
  left: 0;
  position: absolute;
  top: 2111px;
  width: 1440px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-226 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 32px;
  left: calc(50.00% - 214px);
  position: absolute;
  top: 2789px;
  width: 427px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-2 {
  align-self: stretch;
  letter-spacing: -0.55px;
  line-height: 33px;
  margin-top: -0.75px;
  position: relative;
  text-align: center;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-248 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  left: calc(50.00% - 214px);
  position: absolute;
  top: 4579px;
  width: 427px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .x-1 {
  margin-top: -0.75px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .span1-1 {
  color: var(--log-cabin);
  font-family: var(--font-family-baskervville);
  font-weight: 400;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-247 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  left: calc(50.00% - 684px);
  position: absolute;
  top: 3114px;
  width: 1368px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-2-1 {
  letter-spacing: -0.45px;
  line-height: 27px;
  margin-top: -0.75px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-212 {
  letter-spacing: -0.40px;
  line-height: 24px;
  margin-right: -50.37px;
  margin-top: -0.75px;
  position: relative;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .span1-2 {
  color: var(--log-cabin);
  font-family: var(--font-family-pretendard_variable-semibold);
  font-weight: 600;
  text-decoration: underline;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .span-1 {
  letter-spacing: -0.06px;
  text-decoration: underline;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-2-2 {
  letter-spacing: -0.40px;
  line-height: 24px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-2-3 {
  letter-spacing: -0.40px;
  line-height: 24px;
  margin-top: -0.75px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-218 {
  letter-spacing: -0.40px;
  line-height: 24px;
  margin-right: -15.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-222 {
  letter-spacing: -0.45px;
  line-height: 27px;
  margin-right: -21.54px;
  margin-top: -0.75px;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-229 {
  letter-spacing: -0.40px;
  line-height: 24px;
  margin-right: -10.54px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-23 {
  align-self: stretch;
  letter-spacing: -0.45px;
  line-height: 27px;
  margin-top: -0.75px;
  position: relative;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-231 {
  align-self: stretch;
  letter-spacing: -0.40px;
  line-height: 24px;
  margin-top: -0.75px;
  position: relative;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-232 {
  align-self: stretch;
  letter-spacing: -0.40px;
  line-height: 24px;
  position: relative;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-234 {
  letter-spacing: -0.38px;
  line-height: 22.5px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-235 {
  letter-spacing: -0.38px;
  line-height: 22.5px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-236 {
  letter-spacing: -0.38px;
  line-height: 22.5px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-237 {
  letter-spacing: -0.38px;
  line-height: 22.5px;
  margin-right: -109.25px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-238 {
  letter-spacing: -0.38px;
  line-height: 22.5px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-241 {
  letter-spacing: -0.45px;
  line-height: 27px;
  margin-top: -0.75px;
  position: relative;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-242 {
  align-self: stretch;
  letter-spacing: -0.38px;
  line-height: 22.5px;
  position: relative;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .frame-217 {
  align-items: center;
  display: inline-flex;
  gap: 27px;
  position: absolute;
  right: 45px;
  top: 19px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .number-2 {
  letter-spacing: -0.38px;
  line-height: 22.5px;
  margin-top: -0.75px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .span1-3 {
  font-size: var(--font-size-m);
  letter-spacing: -0.06px;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .text-2-4 {
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.u4367u4450u4535u4369u4454u4363u4469u4523 .x-2 {
  align-self: stretch;
  letter-spacing: -0.40px;
  line-height: 24px;
  position: relative;
  text-align: center;
}
